:root{
    --box-size: 50px
}

body {
    background-color: #a8dadc;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    color: white;
}
h1 {
    margin-bottom: 20px;
}

#ground {
    background-color: #f1faee;
    width: calc(var(--box-size) * 7);
    height: calc(var(--box-size) * 6);
    display: flex;
    flex-wrap: wrap;
}
#ground div {
    width: var(--box-size);
    height: var(--box-size);
    background-size: cover;
    background-position: center;
    cursor: pointer; 
    border-radius: 50%;
    background-color: #a8dadc;
}
#ground div:hover {
    box-shadow: 0 0 10px 5px black; 
    background-color: #f1faee; 
}

#player {
    font-size: 40px;
    color: #e63946;
    display: inline; 
}

#ano {
    display: flex; 
    align-items: center; 
}

#ano-box {
    display: inline; 
    width: var(--box-size);
    height: var(--box-size);
    background-size: cover;
    background-position: center;
    cursor: pointer; 
    border-radius: 50%;
    background-color: red;
    margin-left: 10px; 
}
